html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
}

#map_container {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.graticule {
	fill: none;
	stroke: #777;
	stroke-opacity: .5;
	stroke-width: .5px;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.land {
	fill: #222;
}

.boundary {
	fill: none;
	stroke: #fff;
	stroke-width: .5px;
}

.key1 {
	background-color: red;
}

.key2 {
	background-color: blue;
}

.key3 {
	background-color: yellow;
}

.key4 {
	background-color: green;
}

.ui-tooltip {
	z-index: 10000;
	position: absolute;
}

#alert_box_container {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 300px;
	padding: 10px;
	max-height: 600px;
	overflow: auto;
	z-index: 99;
}

.alert_box_fatal,
.alert_box_error,
.alert_box_warn,
.alert_box_info,
.alert_box_msg {
	float: left;
}

.alert_box_fatal,
.alert_box_error,
.alert_box_warn,
.alert_box_info {
	font-weight: bold;
	padding: 0 5px 0 0;
}

.alert_box_fatal { color: #FF0000; }
.alert_box_error { color: #FF6A00; }
.alert_box_warn  { color: #FFA600; }

.alert_box {
	overflow: auto;
	z-index: 99;
	width: 280px;
	height: auto;
	margin: 0 0 10px 0;
	background-color: #f4f4f4;
	padding: 10px;
	font-size: 12px;
	font-family: Arial, sans-serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.55);
}

.m7_node_info_top {
	width: 100%;
	height: 49%;
	overflow: auto;
}

.m7_node_info_left {
	width: 49%;
	float: left;
	padding: 0 3px 0 0;
}

.m7_node_info_right {
	width: 50%;
	float: right;
	padding: 0 0 0 3px;
}

.m7_node_nic_name,
.m7_node_nic_ip,
.m7_node_nic_asn {
	overflow: auto;
	padding: 5px;
}

.m7_node_nic_ip,
.m7_node_nic_asn {
	padding: 0 0 0 10px;
}

.nic_name_title,
.nic_ip_title,
.nic_asn_title {
	font-weight: bold;
	padding: 0 5px 0 0;
}

.nic_name_title,
.nic_name_val,
.nic_ip_title,
.nic_ip_val,
.nic_asn_title,
.nic_asn_val {
	float: left;
}

.nic_name_title,
.nic_name_val {
	font-size: 1.2em;
}

.nic_ip_title,
.nic_ip_val,
.nic_asn_title,
.nic_asn_val {
	font-size: 12px;
}

.m7_server_info {
	overflow: auto;
	position: fixed;
	z-index: 99;
	top: 20px;
	right: 20px;
	padding: 0 5px 0 5px;
	background-color: #f4f4f4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 2px #fff;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.55);
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.m7_server_clock,
.m7_server_status {
	padding: 5px 0 0 0;
	overflow: auto;
}

.m7_server_status_block {
	overflow: auto;
	padding: 0 0 5px 0;
}

.m7_server_status_left  { float: left;  }
.m7_server_status_right { float: right; }

.running { color: #23D400; }
.stopped { color: #FA0000; }

.m7_date_label {
	padding: 0 5px 0 0;
}

.m7_date_unit, 
.m7_date_seperator,
.m7_date_label {
	float: left;
}

.m7_date_unit#day {
	padding: 0 5px 0 0;
}

.m7_tooltip_entry {
	overflow: auto;
	padding: 0 0 5px 0;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.m7_tooltip_left,
.m7_tooltip_right {
	float: left;
}

.m7_tooltip_left { 
	width: 80px;
	font-weight: bold; 
	padding: 0 5px 0 0;
}

.m7_tooltip_click_info {
	margin: 5px 0 0 0;
	padding: 5px 0 0 0;
	border-top: solid 1px #ffffff;
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 12px;
}

.m7_map_tooltip {
	width: 250px;
	height: auto;
	padding: 10px;
	margin: 5px;
	background-color: #f4f4f4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.55);
}

.m7_map_host {
	position: fixed;
	opacity: 0.7;
	width: 10px;
	height: 10px;
	margin: -10px 0 0 -10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: solid 5px #10BD00;
	border-radius: 10px;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.55);
}

.m7_map_host_director {
	border: solid 5px #0087BD !important;
}

.m7_map_host:hover {
	opacity: 1.0;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.75);
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.m7_map_host_details_info {
	display: none;
}

.m7_test_details,
.m7_map_host_details {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

.m7_test_details_bg, 
.m7_map_host_details_bg {
	width: 100%;
	height: 100%;
	z-index: 101;
	position: absolute;
	top: 0;
	right: 0;
	background: #000;
	opacity: 0.3;
}

.m7_map_host_details_content {
	font-size: 12px;
}

.m7_test_details_content,
.m7_map_host_details_content {
	position: absolute;
	z-index: 102;
	width: 800px;
	height: 600px;
	background: #f4f4f4;
	overflow: auto;
	padding: 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: Arial, sans-serif;
}

.m7_dashboard_nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #f4f4f4;
	border-top: solid 2px #fefefe;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.m7_dashboard_content {
	padding: 5px;
	overflow: auto;
}

.m7_plan_id_title,
.m7_plan_id_menu,
.m7_test_shost_title,
.m7_test_shost_menu,
.m7_test_type_title,
.m7_test_type_menu,
.m7_test_start_title,
.m7_test_start_menu,
.m7_test_stop_title,
.m7_test_stop_menu,
.m7_test_destip_title,
.m7_test_destip_menu {
	line-height: 40px;
	float: left;
	margin: 0 5px 0 0;
}

.m7_plan_id,
.m7_test_shost,
.m7_test_type,
.m7_test_destip,
.m7_test_start,
.m7_test_stop,
.m7_test_details_show {
	overflow: auto;
	margin: 0 0 0 5px;
	float: left;
}

.m7_test_details_show {
	line-height: 40px;
}

.m7_test_details_show:hover {
	cursor: pointer;
}

.m7_test_submit input {
	border: none;
	background: none;
	font-size: 12px;
	line-height: 18px;
}

.m7_configure {
	margin-left: 10px !important;
	margin-right: 5px !important;
}

.m7_test_submit,
.m7_configure {
	height: 18px;
	font-size: 1.2em;
	font-weight: bold;
	margin: 5px 0 5px 0;
	padding: 5px 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: none;
	background: #fff;
	border: solid 1px #ededed;
	line-height: 18px;
	float: right;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.m7_test_submit:hover,
.m7_configure:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.m7_test_details_col_headers {
	overflow: auto;
	height: 30px;
	border-bottom: solid 3px #333;
}

.m7_test_details_col_header {
	float: left;
	text-align: center;
	line-height: 30px;
}

.m7_test_details_col_header_txt {
	border-right: solid 1px #999;
	font-size: 1.2em;
}

.m7_test_details_row {
	overflow: auto;
	border-bottom: solid 1px #999;
}

.m7_test_details_row.row_alt {
	background-color: #eee;
}

.m7_test_details_cell {
	float: left;
}

.m7_test_details_cell_txt {
	border-right: solid 1px #999;
	text-align: center;
	padding: 3px;
}

.m7_test_details_pheader,
.m7_test_details_sheader,
.m7_test_details_cheader,
.m7_host_nic_cheader,
.m7_host_status_cheader {
	width: 100%;
	height: 30px;
	border-bottom: solid 3px #000;
	font-size: 1.2em;
	color: #fff;
	line-height: 33px;
	background: #333;
}

.m7_test_details_pheader p,
.m7_test_details_sheader p,
.m7_test_details_cheader p,
.m7_host_nic_cheader p,
.m7_host_status_cheader p {
	margin: 0;
	padding: 0 0 0 5px;
}

.m7_test_details_pcontent,
.m7_test_details_scontent,
.m7_test_details_ccontent
	{
	margin: 10px 0 10px 0;
}

.m7_test_details_pcontent_info {
	padding: 0 0 5px 0;
	overflow: auto;
}

.m7_test_details_pcontent_label {
	width: 150px;
	float: left;
	font-weight: bold;
}

.m7_test_details_pcontent_value {
	float: left;
}

.m7_test_destination_ip {
	overflow: auto;
	height: 30px;
	line-height: 30px;
	margin: 0 0 5px 0;
}

.m7_test_destination_ip_title {
	width: 150px;
}

.m7_test_destination_ip_menu,
.m7_test_destination_ip_title {
	float: left;
	font-weight: bold;
}

.m7_test_destination_ip_menu select {
	border: solid 1px #ccc;
	font-size: 1.2em;
	margin: 0;
}

.m7_map_key {
	position: fixed;
	left: 20px;
	font-family: Arial, sans-serif;
	padding: 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #f4f4f4;
	font-size: 12px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.m7_map_key_title {
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
}

.m7_map_key_entry {
	overflow: auto;
	margin: 0 0 5px 0;
}

.m7_map_key_color,
.m7_map_key_txt {
	float: left;
	line-height: 20px;
}

.m7_map_key_color {
	margin: 0 5px 0 0;
	width: 20px;
	height: 20px;
}